html {
    background-color: #79a7d5;
    font-family: 'Times New Roman', Times, serif;
  }
  
  body {
    margin: 0 auto;
    width: 80%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
    color: white

  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }
  
  