---
const pageTitle = "Mike In Japan";
import '../styles/global.css'
---
	<h1>Mike is in Japan</h1>

    <p>If you recieved a link to this website that means you either requested 
		to be updated on my time in Japan, or I hold you dear enough to think 
		you'd be interested regeardless.
    </p>

	<p><a href="../src/pages/posts/japan-1.astro">One</a></p>