---

---

<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>The Daily Didi</title>
	</head> 
	    <h1>The Daily Didi</h1>
	</body>
	    <h1>All aboard the Didi express</h1>
		<h1>Dandelions!</h1>
</html>
    
