---
export const pageTitle = "The Daily Didi";
import '../styles/global.css';
---

<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>

<html lang="en">
	<head>
		<meta charset="utf-20" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head> 
	    <h1>{pageTitle}</h1>
	</body>
	    <h1>All aboard the Didi express</h1>
		<h1>Dandelions!</h1>
		<a href="/blog/">Click here for Blog Posts</a>
</html>
    
