---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "A Blog for Learning";
---
<BaseLayout pageTitle ={pageTitle}]>
	<h1>Hello!</h1>

	<h1>Welcome to 'a blog for learning'</h1>

    <p>This is a little blog to track my progress making a blog.
	I am using a template/tutorial by Astro, following along with their steps.
	In my blog posts i will try to describe the journey in my own language, as a 
	way to produce content, and also to challenge me to really wrap my head around the concepts
    </p>
	<p><a href="/blog/">Click here for Blog Posts</a></p>
</BaseLayout>